<h2 id="contact" flex items-center gap-2 font-heading text="6 primary" mt-8>
  <i i-carbon-chat inline-block w-8 h-8></i>

  CONTACT
</h2>

<ul mt-8>
  <li>
    <a
      flex
      items-center
      gap-2
      href="mailto:contact@nicolasrio.dev"
      target="_blank"
    >
      <i i-carbon-email inline-block w-6 h-6></i>

      contact@nicolasrio.dev
    </a>
  </li>

  <li mt-4>
    <a
      flex
      items-center
      gap-2
      href="https://linkedin.com/in/nicolas-rio-4441741a2"
      target="_blank"
    >
      <i i-carbon-logo-linkedin inline-block w-6 h-6></i>

      Linkedin
    </a>
  </li>

  <li mt-4>
    <a
      flex
      items-center
      gap-2
      href="https://github.com/NicoRio42"
      target="_blank"
    >
      <i i-carbon-logo-github inline-block w-6 h-6></i>

      Github
    </a>
  </li>
</ul>
