---
import { getCollection } from "astro:content";

const allExperiences = await getCollection("experiences");

console.log(allExperiences);
---

{
  allExperiences.map(async (experience) => {
    const { Content } = await experience.render();
    return (
      <article>
        <h2>{experience.data.title}</h2>

        <div class="prose">
          <Content />
        </div>
      </article>
    );
  })
}
