---
import type { Locale } from "@models/locale";
import { getCollection } from "astro:content";
import labels from "@content/_labels.json";
import ExperienceItem from "./ExperienceItem.astro";

export interface Props {
  locale: Locale;
}

const { locale } = Astro.props;

const allExperiences = (await getCollection("experiences"))
  .filter((experience) => experience.slug.startsWith(locale))
  .sort(
    (experience1, experience2) =>
      experience1.data.order - experience2.data.order
  );
---

<h2 id="experiences" flex items-center gap-2 font-heading text="6 primary" mt-8>
  <i i-carbon-crop-growth inline-block w-8 h-8></i>

  {labels.experiences.heading[locale]}
</h2>

<div border-l="solid 1 primary" ml-4 pl-6 translate-y="-2">
  {
    allExperiences.map(async (experience, index) => {
      const { Content } = await experience.render();

      return (
        <div relative>
          {index === allExperiences.length - 1 && (
            <div absolute w-4 h-full bg-white class="-left-7 top-10" />
          )}

          <span
            absolute
            w="2.5"
            h="2.5"
            bg-primary
            rounded-full
            class="-left-7.25 top-10"
          />

          <ExperienceItem data={experience.data} locale={locale}>
            <Content />
          </ExperienceItem>
        </div>
      );
    })
  }
</div>
