---
import type { Locale } from "@models/locale";
import { getCollection } from "astro:content";
import labels from "@content/_labels.json";
import ExperienceItem from "./ExperienceItem.astro";

export interface Props {
  locale: Locale;
}

const { locale } = Astro.props;

const allExperiences = (await getCollection("experiences"))
  .filter((experience) => experience.slug.startsWith(locale))
  .sort(
    (experience1, experience2) =>
      experience1.data.order - experience2.data.order
  );
---

<h2 font-heading text="12 primary">
  {labels.experience.heading[locale]}
</h2>

{
  allExperiences.map(async (experience) => {
    const { Content } = await experience.render();
    experience.data.image;
    return (
      <ExperienceItem data={experience.data} locale={locale}>
        <Content />
      </ExperienceItem>
    );
  })
}
