---
import { getCollection } from "astro:content";

const allExperiences = await getCollection("experiences");
---

{
  allExperiences.map(async (experience) => {
    const { Content } = await experience.render();
    return (
      <article>
        <h2>
          <strong>{experience.data.title}</strong>
        </h2>

        <div class="prose">
          <Content />
        </div>
      </article>
    );
  })
}
