---
import labels from "@content/_labels.json";
import type { Locale } from "@models/locale";

export interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<script>
  const yearSpan = document.getElementById("year");
  if (yearSpan !== null) yearSpan.textContent = `${new Date().getFullYear()}`;
</script>

<section bg-gray-600 text="center white 3" py-8 mt-16>
  <p flex justify-center items-center gap-1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      w-5
      h-5
      ><path
        fill="currentColor"
        d="M11.88 9.14c1.28.06 1.61 1.15 1.63 1.66h1.79c-.08-1.98-1.49-3.19-3.45-3.19C9.64 7.61 8 9 8 12.14c0 1.94.93 4.24 3.84 4.24c2.22 0 3.41-1.65 3.44-2.95h-1.79c-.03.59-.45 1.38-1.63 1.44c-1.31-.04-1.86-1.06-1.86-2.73c0-2.89 1.28-2.98 1.88-3M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8"
      ></path></svg
    >

    Nicolas Rio <span id="year">{new Date().getFullYear()}</span>
  </p>

  <p mt-2>
    {labels.footer["build-with-1"][locale]}
    <a href="https://astro.build/" target="_blank">Astro</a>
    {labels.footer["build-with-2"][locale]}
    <a href="https://unocss.dev/" target="_blank">Unocss</a>
  </p>

  <p mt-2>
    {labels.footer["source-code"][locale]}

    <a href="https://github.com/NicoRio42/nicolas-rio-dev" target="_blank"
      >github.com/NicoRio42/nicolas-rio-dev</a
    >
  </p>
</section>
