---
import { Content as FrenchContent } from "@content/_presentation/fr.md";
import { Content as EnglishContent } from "@content/_presentation/en.md";
import type { Locale } from "@models/locale";
import labels from "@content/_labels.json";
import ExpandableArticle from "./ExpandableArticle.astro";

export interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<ExpandableArticle locale={locale}>
  <div class="prose prose-neutral" max-w-full text-justify>
    <h2 text-6 font="bold sans" mt-0 class="print:hidden">
      {labels.hello[locale]}
    </h2>

    {locale === "fr" ? <FrenchContent /> : <EnglishContent />}
  </div>
</ExpandableArticle>
